<!doctype html>
<html>
<head>
     <title>This is a title, eh</title>
</head>
<body>
    <h2>An 'appy App Engine Assignment</h2>
    <ol>
        <li>/hello to add one</li>
        <li>/timesHelloed to view count</li>
        <li>/resetTimesHelloed resets the count to 0</li>
    </ol>
</body>

</html>
