<!doctype html>
<html>
<head>
     <title>This is a title, eh</title>
</head>
<body>
    <h2>An 'appy App Engine Assignment</h2>
    <ol>
        <li>timesHelloed = <%= timesHelloed %></li>
    </ol>
</body>

</html>
